#sign-area{
    resize: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btns{
    width: 230px;
}

.sign-label{
    margin-right: 17px;
}

.up-btns{
    width: 50px;
    padding: 3px;
}

@media screen and (max-width: 480px){
    .cont-full{
        display: flex;
        flex-direction: column;
    }

    .up-btns{
        width: 60%;
    }

    .btns{
        width: 100%;
    }
}