#sign-area{
    resize: none;
    width: 800px;
    height: 500px;
}

.btns{
    width: 230px;
}

.up-btns{
    width: 250px;
    padding: 5px;
}

@media screen and (max-width: 480px){
    #sign-area{
        width: 300px;
    }
}