#sign-area{
    resize: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btns{
    width: 230px;
}

.sign-label{
    margin-right: 24px;
}

.up-btns{
    width: 90px;
    padding: 3px;
}

.fn-size{
    margin-right: 74px;
}

.size-btn{
    width: 90px;
}


@media screen and (max-width: 768px){
    .sub-cont{
        margin: 30px;
    }
    .cont-full{
        display: flex;
        flex-direction: column;
    }

    .up-btns{
        width: 50%;
    }

    .size-btn{
        width: 90%;
    }

    .btns{
        width: 100%;
    }
}

@media screen and (max-width: 399px){
    .up-btns{
        width: 35%;
    }
}